<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/inv/css/mystyle.css" rel="stylesheet" >
    <title>Insert Book</title>
</head>

<body>

  <div>
      <header>
          <h1>OnlineBookStore</h1>
                <p>Easy solution for buying books</p>
                <p align="right">Welcome,<%= name %>.(Logged in as <%= user_type %>) </p>
                <a href="/logout">Logout</a>
                <a href="/user">Home</a>
     </header>


  </div>
    
                <table border="2"  width="100%" align="center">
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <th>Book Name</th>
                            <th>Book Type</th>
                            <th>Author</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody align="center" >
                        <% books.forEach(function(book) { %>
                            <tr>
                                <td><%= book.bookId %></td>
                                <td><%= book.bookName %></td>
                                <td><%= book.bookType %></td>            
                                <td><%= book.bookAuthor %></td>
                                <td><%= book.bookPrice %></td>
                            </tr>
                        <% }) %>
                </table>
             
    <div class="footer">
  <p>&copy; Copyright 2020 OnlineBookStore.com </p>
</div>
  </body>
</html>
